/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 version
*/

.circle-player-control {
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: 50%;
    background-color: #161b37;
    -webkit-transition: top 0.5s !important;
    -o-transition: top 0.5s !important;
    transition: top 0.5s !important;
    z-index: 99;
}

.circle-player-control div {
    position: absolute;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #0075ff;
    cursor: pointer;
}

.circle-player-control div i {
    color: white;
}

.play-pause-btn {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}