/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 version
*/

@media (orientation: portrait) and (min-aspect-ratio: 9/16) {
    .header {
        height: 8vh;
    }

    .header i {
        font-size: 3vh;
    }

    .header .btn-menu i,
    .header .theme i {
        padding: 1.3vh;
    }

    .header .display-btn.active {
        top: 2vh;
    }

    .header .display-btn.active i {
        padding: 1vh 2vh;
        font-size: 3.5vh;
    }

    /* Header *//* Header *//* Header *//* Header */

    /* Player *//* Player *//* Player *//* Player */
    
    .player .song {
        border-radius: 1.5vw;
    }

    .player .song:nth-child(1) {
        top: -15vh;
        right: 32.5vw;
        width: 35vw;
    }
    
    .player .song:nth-child(2) {
        top: -10vh;
        right: 32.5vw;
        width: 35vw;
    }
    
    .player .song:nth-child(3) {
        top: 7vh;
        right: 32.5vw;
        width: 35vw;
    }
    
    .player .song:nth-child(4) {
        top: 24vh;
        right: 25vw;
        width: 50vw;
    }
    
    .player .song:nth-child(5) {
        top: 53vh;
        right: 32.5vw;
        width: 35vw;
    }
    
    .player .song:nth-child(6) {
        top: 69vh;
        right: 32.5vw;
        width: 35vw;
    }
    
    .player .song:nth-child(7) {
        top: 114vh;
        right: 32.5vw;
        width: 35vw;
    }

    .player .song.active {
        top: 24vh;
        right: 25vw;
        width: 50vw;
    }

    .player .thumbnail {
        height: calc(35vw / 16 * 9);
        border-top-right-radius: 2vw;
        border-top-left-radius: 2vw;
        border-bottom-right-radius: 2vw;
        border-bottom-left-radius: 2vw;
    }

    .player .thumbnail-ctrl div {
        width: 5vh;
        height: 5vh;
    }

    .player .song.active .thumbnail {
        height: calc(50vw / 16 * 9);
    }

    .player .thumbnail-ctrl div i {
        font-size: 2.5vh;
    }

    .player .details {
        border-bottom-right-radius: 2vw;
        border-bottom-left-radius: 2vw;
    }

    .player .song.active .details {
        top: calc(50vw / 16 * 9);
        height: calc(50vw / 16 * 9 * 3 / 10);
    }

    .player .song-name {
        font-size: 1.3vh;
    }

    .player .song-singer {
        margin-top: 0.15vh;
        font-size: 1.7vh;
    }

    /* transition */
    
    .player.next .song:nth-child(2) {
        top: -15vh;
        right: 32.5vw;
        width: 35vw;
    }
    
    .player.next .song:nth-child(3) {
        top: -10vh;
        right: 32.5vw;
        width: 35vw;
    }
    
    .player.next .song:nth-child(4) {
        top: 7vh;
        right: 32.5vw;
        width: 35vw;
    }
    
    .player.next .song:nth-child(5) {
        top: 24vh;
        right: 25vw;
        width: 50vw;
    }
    
    .player.next .song:nth-child(6) {
        top: 53vh;
        right: 32.5vw;
        width: 35vw;
    }
    
    .player.next .song:nth-child(7) {
        top: 69vh;
        right: 32.5vw;
        width: 35vw;
    }
    
    /* next */
    
    /* previous */
    
    .player.previous .song:nth-child(1) {
        top: -10vh;
        right: 32.5vw;
        width: 35vw;
    }
    
    .player.previous .song:nth-child(2) {
        top: 7vh;
        right: 32.5vw;
        width: 35vw;
    }
    
    .player.previous .song:nth-child(3) {
        top: 24vh;
        right: 25vw;
        width: 50vw;
    }
    
    .player.previous .song:nth-child(4) {
        top: 53vh;
        right: 32.5vw;
        width: 35vw;
    }
    
    .player.previous .song:nth-child(5) {
        top: 69vh;
        right: 32.5vw;
        width: 35vw;
    }
    
    .player.previous .song:nth-child(6) {
        top: 114vh;
        right: 32.5vw;
        width: 35vw;
    }

    /* Player *//* Player *//* Player *//* Player */

   /* Playlist *//* Playlist *//* Playlist *//* Playlist */

    .playlist {
        padding: 2vh 0;
    }

    .playlist .song-wrap {
        height: 12vh;
        border-radius: 2.5vh;
        margin: 1.5vh 0;
        width: 95%;
    }

    .playlist .song-wrap span {
        width: calc(100% - 5px);
        height: calc(100% - 5px);
        padding: 1vh;
        border-radius: 2.5vh;
    }

    .playlist .song-thumbnail {
        height: 10vh;
        width: calc(10vh / 9 * 16);
        border-radius: 1vh;
        margin-right: 1vh;
    }

    .playlist .song-name {
        width: 50vw;
        font-size: 2vh;
    }

    .playlist .song-author {
        width: 50vw;
        font-size: 2.3vh;
    }

    .playlist .song-wrap i {
        font-size: 4.5vh;
        margin: 0 2vw;
    }

    /* Playlist *//* Playlist *//* Playlist *//* Playlist */

    /* Collections *//* Collections *//* Collections *//* Collections */

    .folder-menu {
        padding: 2vh 0;
    }

    .folder-menu .playlist-wrap {
        width: 50%;
        border-radius: 2vw;
        margin: 2vh 0;
    }

    .folder-menu .playlist-element {
        width: 40vw;
        padding: 2vw 0;
        border-radius: 2vw;
    }

    .folder-menu .playlist-thumbnail {
        width: 35vw;
        height: 35vw;
        border-radius: 2vw;
    }

    .folder-menu .playlist-name {
        font-size: 3vh;
        margin-top: 1.5vh;
    }

    .folder-menu .playlist-icon-wrap i {
        font-size: 2vh;
    }

    /* Collections *//* Collections *//* Collections *//* Collections */

    /* Circle *//* Circle *//* Circle *//* Circle */

    .circle-player-control {
        width: 90vw;
        height: 90vw;
    }

    .circle-player-control.active {
        top: 80%;
    }

    .play-pause-btn {
        top: 2%;
        width: 8vw;
        height: 8vw;
    }

    .play-pause-btn i {
        font-size: 4vw;
    }

    .prev-btn,
    .next-btn {
        top: 10%;
        width: 7vw;
        height: 7vw;
    }

    .prev-btn {
        left: 25%;
    }
    
    .next-btn {
        right: 25%;
    }
    
    .prev-btn i,
    .next-btn i {
        font-size: 3.5vw;
    }

    /* Circle *//* Circle *//* Circle *//* Circle */

    /* Control *//* Control *//* Control *//* Control */

    .player-control {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 8vh;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }

    .song-control-wrap {
        width: 100vw;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .loop-btn {
        bottom: 95%;
        font-size: 3vh;
    }

    #current-time {
        font-size: 3vh;
    }

    .time-display {
        width: 90vw;
        padding-top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .player-control.active .time-display {
        width: 80vw;
    }

    #progress {
        margin-top: 1vh;
        height: 6px;
        border-radius: 3px;
    }

    .small-control {
        display: none;
        width: 10vw;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    .player-control.active .small-control {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .small-control i {
        font-size: 2.5vh;
    }

    .small-control i:nth-child(2) {
        margin-top: 0.5vh;
    }
}